:root {
	--container-width: 1390px;
	--container-padding: 15px;

	--font-main: 'Josefin Sans', sans-serif;
	--font-accent: 'Cormorant Infant', serif;
	--line-height: 1.5;
	--letter-spacing: 0.2px;
	--font-size: 20px;

	--page-bg: #292E36;
	--text-color: #555555;
	--text-title: #292E36;
	--text-white: #fff;
	--accent: #E1B168;

   --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}