.testimonial {
   padding: 140px 0 120px;
   color: var(--text-white);

   .small-title {
      margin-bottom: 12px;
   }

   .title-2 {
      margin-bottom: 8px;
      color: var(--text-white);
      text-transform: capitalize;
   }

   @include mediaTablet {
      padding: 70px 0 60px;
   }
}

.testimonial__slider {
   position: relative;
   height: 432px;
   margin-top: 80px;

   @include mediaTablet {
      margin-top: 60px;
   }

   @include mediaMobile {
      margin-top: 30px;
   }
}

