<div class="blog-card">
   <div class="blog-card__image">
      <img src="./img/blog/@@image" alt="@@alt">
      <a href="#!" class="button-big">View More</a>
   </div>
   <div class="blog-card__description">
      <div class="blog-card__row">
         <div class="small-title small-title--big">@@name</div>
         <div class="small-title small-title--big">@@date</div>
      </div>
      <div class="blog-card__title">
         <h4 class="title-4">@@title</h4>
      </div>
      <div class="text text--muted">
         <p>@@description</p>
      </div>
   </div>
</div>