<div class="card-testimonial">
   <div class="card-testimonial__hero">
      <div class="card-testimonial__hero-image">
         <img src="./img/testimonial/@@image" alt="@@alt">
      </div>
      <div class="card-testimonial__hero-name">
         <div class="card-testimonial__title">
            @@title
         </div>
         <div class="card-testimonial__subtitle active">
            <p>@@subtitle</p>
         </div>
      </div>
   </div>
   <div class="card-testimonial__text">
      <p>@@description</p>
   </div>
</div>