<div class="offers-card">
   <div class="offers-card__image-bg">
      <img src="./img/offers/@@imageBg" alt="Bg">
   </div>
   <div class="offers-card__content">
      <div class="offers-card__price">
         <div class="offers-card__price-wrapper" id="@@svgImage">
            <p>@@priceText</p>
            <span>&#36;@@price</span>
         </div>
         <svg class="@@svgImage">
            <use href="./img/svgSprite.svg#@@svgImage"></use>
        </svg> 
      </div>
      <div class="offers-card__image-mobile">
         <img src="./img/offers/@@image" alt="@@alt">
      </div>
      <div class="offers-card__text-wrapper">
         <div class="small-title small-title--dark">@@smallTitle</div>
         <div class="offers-card__title">
            <h2 class="title-2">@@title</h2>
         </div>
         <div class="text text--muted">
            <p>@@text</p>
         </div>
      </div>
   </div>
   <div class="offers-card__image">
      <img src="./img/offers/@@image" alt="@@alt">
   </div>
</div>